{% extends "base.html" %}

{% block content %}
<br>
<br>
<main id="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <table class="table">
                <thead>
                    <th class="text-center h3" colspan=2 ><h3>{{name.first_name|upper}} {{name.last_name|upper}}</h3></th>
                </thead>
                <tbody>
                    <tr>
                        <td>CASE #</td>
                        <td>{{name.case_no}}</td>
                    </tr>
                    <tr>
                        <td>CH:</td>
                        <td>{{name.chapter}}</td>
                    </tr>
                    <tr>
                        <td>FILED:</td>
                        <td>{{name.date_filed}}</td>
                    </tr>
                    <tr>
                        <td>ADDRESS:</td>
                        <td>{{name.street1}} {{name.street2}} {{name.street3}}</td>
                    </tr>
                    <tr>
                        <td>ZIP CODE:</td>
                        <td>{{name.zip|floatformat:"0"}}</td>
                    </tr>
                    <tr>
                        <td>CITY:</td>
                        <td>{{name.city}}</td>
                    </tr>
                    <tr>
                        <td>STATE:</td>
                        <td>{{name.state}}</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-end" ><a href="{% url "contactform" %}">Contact us to remove this case record</a></p>
            
        </div>
    </div>
</main>
<br>
<br>
{% endblock content %}