<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><a href="{% url "core:byname" %}"><i class="bx bxl-dribbble"></i></a></div>
              <h4 class="title"><a href="{% url "core:byname" %}">Search By Name</a></h4>
              <p class="description">Quickly find the information you need with our streamlined search feature. Enter a name and get accurate, speedy results for personal or professional records.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><a href="{% url "core:byname" %}"><i class="bx bx-file"></i></a></div>
              <h4 class="title"><a href="{% url 'core:states' %}">Search By State</a></h4>
              <p class="description">Explore records based on location. Use our efficient search feature to find information specific to a state. Ideal for accessing local, regional, or state-related data quickly and accurately.</p>
            </div>
          </div>

          {% comment %} <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Search By Year</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Search By Case Number</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div> {% endcomment %}

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            {% for p in posts1 %}
              <div class="icon-box">              
                <h4 class="title"><a href="{{ p.get_absolute_url }}">{{p.title}}</a></h4>              
                <p class="description">{{p.body|striptags|truncatechars:300}} </p>
              </div>            
            {% endfor %}
          </div>
            
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            {% for p in posts2 %}
              <div class="icon-box">              
                <h4 class="title"><a href="{{ p.get_absolute_url }}">{{p.title}}</a></h4>              
                <p class="description">{{p.body|striptags|truncatechars:300}} </p>
              </div>            
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->       

  </main>